#showBody {
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#mineralImageDiv {
    border-radius: 5%;
    min-height: 500px;
    min-width: 500px;
    max-width: 500px;
    max-height: 500px;
}

#mineralInfoDiv {
    color: gold;
    font-family: 'Hanalei Fill', cursive;
    text-align: center;
}